<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sharjeel_FinalApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5330594A205C07E0003CBA50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5330595E205C07E0003CBA50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53305969205C07E0003CBA50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
